{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block corpo %}
<h2 class="sub-header mx-4">{% if cadastro %} Crie aqui a sua nova notícia {% else %} Editar notícia {% endif %}</h2>
<hr class="mx-4">
<form method="post" class="m-4">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-2 mb-4">
            {{ form.genero|as_crispy_field }}
            <a href="{% url 'cadastro_genero' %}" class="mb-5">
                <button type="button" class="btn btn-outline-secondary btn-sm">Cadastre um novo gênero</button>
            </a>
        </div>
        <div class="form-group col mb-0">
            {{ form.nome_autor|as_crispy_field }}
        </div>
    </div>
    {{ form.url_imagem|as_crispy_field }}
    {{ form.titulo|as_crispy_field }}
    {{ form.conteudo|as_crispy_field }}
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

{% endblock %}