{% extends 'base.html' %}

{% block corpo %}

<div class="container-fluid">
    <div class="row justify-content-between ml-1">
        <h1 class="display-4">
            Lista de notícias
        </h1>
        <a href="{% url 'cadastro_noticia' %}" class="mr-4 mt-4" style="text-decoration: none; color: #FFFFFF;">
            <button type="button" class="btn btn-primary">+</button>
        </a>
    </div>
</div>


<form class="ml-3 mr-4 mb-4 my-2" method="POST">{% csrf_token %}
    <div class="form-row">
        <div class="col">
            <input class="form-control" type="text" placeholder="Digite o título" name="filter">
        </div>
        <div class="col">
            <select class="form-control" name="genero_filter" >
                <option>Escolha um gênero...</option>
                {% for g in generos %}
                <option>{{ g.descricao }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-0">
            <button class="btn btn-secondary" type="submit">Filtrar</button>
        </div>
    </div>
</form>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Título</th>
        <th scope="col">Gênero</th>
        <th scope="col">Autor</th>
        <th scope="col">Criação</th>
        <th scope="col">Ações</th>
    </tr>
    </thead>
    <tbody>
    {% for n in noticias %}
    <tr>
        <td>{{ n.titulo }}</td>
        <td>{{ n.genero }}</td>
        <td>{{ n.nome_autor }}</td>
        <td>{{ n.data_criacao }}</td>
        <th>
            <a href="{% url 'editar_noticia' n.id %}" style="text-decoration: none; color: #FFFFFF;">
                <button type="button" class="btn btn-outline-primary">Editar</button>
            </a>
            <a href="{% url 'remover_noticia' n.id %}" style="text-decoration: none; color: #FFFFFF;">
                <button type="button" class="btn btn-outline-danger">Remover</button>
            </a>
        </th>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}